.btn-footer{
    background-color: #247822 !important;
    color: #fff !important;
    width: 120px !important;
    
}

.footer_heading{
    font-size: 1.7rem;
    color: #000000;
    font-weight: 600;
    padding: 5px;
}

.footer_para{
    font-size: 1rem;
    color: #838383;
    text-align: justify;
    padding: 5px;
}

.footer-seconf-heading{
    font-size: 1.5rem;
    padding: 5px;
}


.nav-link-2{
    color: #999999 !important;
    text-decoration: none !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
} 

.i{
    font-size: 1.7rem;
}

@media (max-width: 425px) {
    .btn-footer{
        background-color: #247822 !important;
        color: #fff !important;
        width: 120px !important;
        
    }
    
    .footer_heading{
        font-size: 1.2rem;
        color: #000000;
        font-weight: 600;
        padding: 5px;
    }
    
    .footer_para{
        font-size: 0.9rem;
        color: #838383;
        text-align: justify;
        padding: 5px;
    }
    
    .footer-seconf-heading{
        font-size: 1.2rem;
        padding: 5px;
    }
    
    
    .nav-link-2{
        color: #999999 !important;
        text-decoration: none !important;
        font-size: 0.8rem !important;
        font-weight: 500 !important;
    } 
    
    .i{
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .btn-footer{
        background-color: #247822 !important;
        color: #fff !important;
        width: 120px !important;
        
    }
    
    .footer_heading{
        font-size: 1.1rem;
        color: #000000;
        font-weight: 600;
        padding: 5px;
    }
    
    .footer_para{
        font-size: 0.8rem;
        color: #838383;
        text-align: justify;
        padding: 5px;
    }
    
    .footer-seconf-heading{
        font-size: 1.1rem;
        padding: 5px;
    }
    
    
    .nav-link-2{
        color: #999999 !important;
        text-decoration: none !important;
        font-size: 0.7rem !important;
        font-weight: 500 !important;
    } 
    
    .i{
        font-size: 1.4rem;
    }
}

@media (max-width: 375px) {
    .btn-footer{
        background-color: #247822 !important;
        color: #fff !important;
        width: 120px !important;
        
    }
    
    .footer_heading{
        font-size: 1rem;
        color: #000000;
        font-weight: 600;
        padding: 5px;
    }
    
    .footer_para{
        font-size: 0.7rem;
        color: #838383;
        text-align: justify;
        padding: 5px;
    }
    
    .footer-seconf-heading{
        font-size: 1rem;
        padding: 5px;
    }
    
    
    .nav-link-2{
        color: #999999 !important;
        text-decoration: none !important;
        font-size: 0.6rem !important;
        font-weight: 500 !important;
    } 
    
    .i{
        font-size: 1.3rem;
    }
}